body
{
 position: relative;   
 margin:0px auto;
 padding:0px;
 text-align:center;
 width:100%;
 font-family: "Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
}
#header
{
    font-family: cursive;
    background-image: url("/images/pets-header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    opacity: 0.8; 
}
#header-h1 {
    text-align: center;
    margin: auto;
  }
li {
    float: left;
  }
  
.text-3 {
  color: white;
  text-shadow: 0.075em 0.08em 0.1em rgba(0, 0, 0, 1);
}