body
{
 position: relative;   
 margin:0px auto;
 padding:0px;
 text-align:center;
 width:100%;
 font-family: "Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
}
#header
{
background-color: rgb(92, 175, 96);
font-family: cursive;

}
#logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#header-h1 {
    text-align: center;
    margin: auto;
  }
  li {
    float: left;
  }
